
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: white;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-links button,
.nav-links a {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

/* Mega menu */
.mega-menu {
  display: none;
  background: #f5f5f5;
  padding: 30px 40px;
  border-bottom: 1px solid #ddd;
}

.mega-menu.active {
  display: block;
}

.mega-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

/* Mobile */
.hamburger {
  display: none;
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
}

/* Mobile menu */
.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background: white;
  padding: 30px;
  transition: 0.3s ease;
}

.mobile-menu.active {
  right: 0;
}


.mobile-menu button {
  display: block;          
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font-size: 16px;
  padding: 12px 0;
  cursor: pointer;
}

.mobile-menu button:hover {
  background: #f2f2f2;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


#mobileContent .mega-grid {
  grid-template-columns: 1fr;
  gap: 20px;
}
@media (max-width: 900px) {
  .nav-links {
    display: none;
  }

  .hamburger {
    display: block;
  }
}
/*First Section*/
.first-section{
    text-align: center;
    background-color: #6a0031;
    color: white;
}

.first-section-buttons{
 margin-top: 10px;
 list-style: none;
 display: flex;
 gap: 10px;
 justify-content: center;
}

#Get-Started  {
    padding: 10px 20px;          
    background-color: white;   
    color: #6a0031;                
    border-radius: 140px;       
    cursor: pointer;
}
#Get-Started:hover{
    background-color: #d2a4b4;
    color: #6a0031;
}
#Demo{
     padding: 10px 20px;        
    border: 2px solid white;  
    background: transparent;
    color: white;
    cursor: pointer;
    border-radius: 140px;
}
#Demo:hover{
    background-color: #781744;
    color:white
}
#PIC-1{
    max-width: 100%;
}
/*Second-section*/
.second-section{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: x-large;
}
.sec-pic img{
    width: 150px;
    height: auto;
    max-width: 100%;
}
h2{
    padding:1rem ;
}
.middle img{
    max-width: 100%;
}
@media (max-width: 768px) {
  .middle {
    display: none;
  }
}
.Carousel {
  display: flex;
  gap: 1em;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 10px;
}

.Carousel::-webkit-scrollbar {
  display: none;
}

.card {
    flex: 0 0 20em;
    height:18m;
    background: white;
    padding: 1em;
    border-radius: .5em;
    text-align: center;
    align-items: center;
    justify-content: ce;
    cursor: pointer;
}
.card:hover{
    background-color: #fafafa ;
}
.button{
    background-color: black;
    color:white;
    display: inline-flex;
    border-radius: 50%;
    padding: 0.2em;
}
.button:hover{
    background-color: #6e6e6e;
}
.See:hover{
    color:#6e6e6e ;
}
.See{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}
/*Asana Gov*/
.gov-list {
    display: flex;              
    align-items: center;
    justify-content: space-evenly; 
    list-style: none;
    border: 2px solid #e7e7e7;
    border-radius: 10px;
    flex-wrap: wrap;
}

.gov-image img {
    width: 250px;
    height: auto;
}

.gov-text {
    max-width: 100%;
}


.gov-button {
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    background-color: black;
    border-radius: 140px;
}
.gov-button:hover{
    color: white;
    background-color:#6e6e6e;
}

/*Connect*/
.Connect ul{
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
}
.Connect p{
    margin-top: 10px;
    margin-bottom: 10px;
}
#int-button {
    display: inline-block;
    background-color: black;
    border-radius: 100px;
    color: white;
    cursor: pointer;
    padding: 6px 16px;
    margin-top: 5px;
}
.images {
  overflow: hidden;
  height: 150px; 
  border: 1px solid #ccc; 
}

.image-list {
  
  list-style: none;
  margin: 0px;
  padding: 10px;
  display: flex; 
  transform: translateX(0); 
  animation: slide 10s linear infinite; 
}


@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {

    transform: translateX(-100%); 
  }
}
/*Trust*/
.Trust ul{
    list-style: none;
    margin: 50px;
}
.case-button{
    border: 2px solid black;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
}
.Carousel-2{
  overflow-x: auto;
  display: flex;
}
.Carousel-2::-webkit-scrollbar {
  display: none;
}
.slide{
    flex: 0 0 20rem;
    padding: 1.5rem;
}


/*Get started*/
.Get-started{
    display:flex;
    justify-content: space-between;
    background-color: #fafafa;
    padding: 50px;
    font-size: 15px;
}
.lhs{
    padding-left: 0.1rem;
    list-style: none;
}
.lhs p{
    margin-top: 30px;
}
.rhs{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;
}
.box{
    gap:2rem;
    background-color: white;
    padding: 1em;
    padding-right: 2rem;
    border-radius: 1rem;
    cursor: pointer;
}
.box:hover{
    background-color: #fafafa;
}
.button-2{
    background-color: black;
    display: inline-block;
    color:white;
    border-radius: 50%;
    padding:0.2rem;
}
.bro{
    display: flex;
}
/*Above-Footer*/
.af {
    gap: 0.5rem;
    width: 100%;
    justify-content: center;
    padding: 2rem;
display: flex;
    
}
@media (max-width: 768px) {
    .af {
        flex-direction: column;  
        align-items: center;      
    }
}
.af-cards p{
    padding:1rem;
}

/*Footer*/
.upper-footer ul{
    color: white;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    list-style: none;
    padding-left: 50px;
    background-color: #6a0031;
}
#footer-button{
    margin-top:10px ;
    margin-bottom: 50px;
    color: #6a0031;
    background-color: white;
    display: inline-block;
    border-radius: 150px;
    padding: 10px 10px;
    cursor: pointer;
}
#footer-button:hover{
    color: #6a0031;
    background-color: #d2a4b4;
}
.middle-footer ul{
    background-color: #6a0031;
    list-style: none;
    display:flex;
    color: white;
    gap: 30px;
    justify-content: space-evenly;
    padding-top: 20px;
    flex-wrap: wrap;
}
.columns{
    list-style: none;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 1rem;
}
.columns a{
      color: #e1bbc7;
    text-decoration: none;
}
.columns a:hover{
    text-decoration: underline;
    color: white;
}

.lower-footer ul {
    background-color:#710c3a;
    list-style: none;
    display: flex;
    color:white;
    justify-content:space-evenly;
    flex-wrap: wrap;
    gap: 50px;
    }

.lower-footer ul li a{
    color:#e1bbc7;
    text-decoration: none;
    cursor: pointer;
}
.lower-footer ul li a:hover{
    color:white;
    text-decoration: underline;
}
